xray
xray.exe
xrayconfig.json
config_history.json
configs.txt
__pycache__/
*.pyc
.DS_Store
balancer.log*
.xray_version
sni-spoof-rs
sni-spoof-rs.exe
sni-spoofing
sni-spoofing.exe
config.json
config.ini
WinDivert*
venv/
